*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: 'Helvetica', sans-serif;
    font-size: 16px;
    line-height: 1.1;
    color: #ffffff; 
    text-align: left;
    background-color: rgb(213,62,17)
}

header {
    width: 100%;
    height: 400px;
    background-image: url('groepsdruk2.jpg');
    background-attachment: fixed;
    background-size: 100%;
    float: center; 
}

header img {
    width: 100%;
}

section.title {
    align-items: center;
    text-align: center;
}

section.title img {
    max-width: 700px;
    padding: 30px 0px 0px 40px;
    position: center;
}

header nav {
    text-align: center;
    text-decoration: none; 
    position: center;
    float: center;
}

header nav a {
    font-size: 20px;
    font-weight: 700;
    padding: 5px;
    margin: 0 0 0 10px; 
    color: #ffffff;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

header nav a:hover {
    border-bottom: 2px solid #ffffff;
}

.intro {
    max-width: 900px;
    margin: 20px auto;
    border: 5px solid #fff;
    overflow: auto;
    padding: 20px 40px;
    color: #fff;
}

.date, .info {
    width: 50%;
    float: left;
    
}

.date {
    font-size: 30px;
    font-weight: 700;
} 

section.pictures {
    max-width: 900px;
    margin: auto;
    width: 100%;
    position: relative;
    align-items: center;
}


section.picturegirl {
    padding: 20px 0px 20px 50px;
    width: 25%;
    float: right;
    max-width: 300px;
    margin: 0 auto;
    position: absolute;
}

section.picturetree {
    padding: 20px 0px 20px 140px;
    width: 75%;
    margin: 0 auto;
    position: absolute;
    float: left;
}

.picturetree img, .picturegirl img {
    height: 250px; 
    object-fit: contain; 
}


section.line-up h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    padding: 350px 0px 0px 50px;   
}

section.line-up p{
    padding: 0px 0px 20px 50px;
    font-size: 15px;
}

section.location h1{
    font-size: 30px;
    font-weight: 700;
    padding: 40px 0px 0px 50px;
    position: absolute;
}

section.location p{
    width: 50%;
    padding: 90px 0px 0px 50px;
    position: absolute;
    font-size: 20px;
}

section.locationimage img{
    width: 45%;
    max-width: 50%;
    float: right;
    padding: 90px 20px 20px 0;
}


footer {
    background-color: #48353a;
    overflow: hidden;
    width: 100%;
}

footer p{
    float: right;
    color: lightgray;
    font-style: italic;
}

footer img {
    float: left;
    width: 100%;
}