* {
    box-sizing: border-box;
}

img {
    max-width: 65%;    
}

body {
    font-family: Helvetica Neue;
    font-size: 20px;
    line-height: 1.3;
    background-color: #000000;
}


div.wrap {
    color: #ffffff;
    max-width: 960px;
    margin: 0 auto 0 auto;
    overflow: hidden;
    font-size: 30px;
    font-weight: 700; 
}

section.hero {
    color: #ffffff;
    font-size: 10px;
    max-width: 240px;
    padding: 20px 20px 20px 20px;
}


section.smile {
    text-align: center;
    padding: 40px 0 100px 0;  
    z-index: -1;
    transition: all 1s;
}

section.smile:hover img {
    transform: scale(.99) rotate(180deg);
}

footer nav a {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding: 0px 30px 0px 30px;
    color: white;
    text-decoration: none; 
    border-bottom: 2px solid transparent;
    transition: opacity 0 .5s;
    display: inline-block;  
}

footer nav a:hover {
    border-bottom: 5px solid pink;
}

section.about {
    color: white;
    font-weight: 700;
    font-size: 20px;
    max-width: 100%;
    z-index: -1;
    transition: all 1s;   
}

section.about:hover {
    opacity: 0;
    transform: scale(.99) 
}

section.info {
    padding: 10px 0 10px 40px;
    background-color: white;
}

section.info h1 {
    color: black;
    font-size: 40px;
    font-weight: 700;
    float: left;
}

section.info p {
    color: black;
    font-size: 13px;
    max-width: 400px;
    padding: 10px 0px 30px 50px;
}

.info {
    padding: 20px 0px 30px 0px;
    
}

section.opdracht1 {
    max-width: 500px;
    position: relative;   
}

.frontrecord img{
    float: left;
    position: absolute;
    margin: 0 auto;
}

.backrecord img{
    float: right;
    transition: left 1s;
    z-index: -1;
}

.backrecord:hover {
    left: 0;
    transform: translateX(50%) translateY(50%);
}

.frontrecord img, .backrecord img {
    object-fit: contain; 
}

.fronteverything img{
    padding: 10px 0 10px 0;
    width: 100%;
    transition: bottom 1s;
   
}


section.opdracht2 {
    max-width: 500px;
    position: relative;   
}

.parijsfront img {
    float: left;
    position: absolute;
    margin: 0 auto; 
}

.parijsback img {
    float: right;
    transition: left 1s;
    z-index: -1; 
}

.parijsback:hover {
    left: 0;
    transform: translateX(50%) translateY(50%);
}

.inside1 {
    width: 800px;
}

.inside1 img {
    padding: 10px 0px 10px 0px; 
}


.opdracht3 {
    position: relative;
    background-color: white;
}

section.opdracht3 {
    background-color: white;
    max-width: 500px; 
    padding: 0px 0px 550px 0px;
}

.covermanual img {
    float: left;
    position: absolute;
    margin: 0 auto;
}

.backmanual img {
    float: right;
    transition: left 1s;
    z-index: -1;
}

.backmanual:hover {
    left: 0;
    transform: translateX(50%) translateY(50%);
}

.text p{
    background-color: white;
    font-size: 25px; 
    font-weight: 7OO;
    padding: 0px 0px 50px 90px;
}

@media (max-width: 1000px) {
    div.wrap {
        width: 640px;
    }
}

@media (max-width: 680px) {
    div.wrap {
        width: auto;
        margin: 0 20px 0 20px;
    }
    div.products {
        width: auto;
    }
    section.hero h2 {
        font-size: 24px;
    }
    section.hero h3 {
        font-size: 18px;
    }
}