* {
    box-sizing: border-box;
}

img {
    max-width: 65%;    
}

body {
    font-family: Helvetica Neue;
    font-size: 20px;
    line-height: 1.3;
    background-color: #000000;
}


div.wrap {
    color: #ffffff;
    max-width: 960px;
    margin: 0 auto 0 auto;
    overflow: hidden;
    font-size: 30px;
    font-weight: 700; 
}

section.hero {
    color: #ffffff;
    font-size: 10px;
    max-width: 240px;
    padding: 20px 20px 20px 20px;
}

header nav a {
    color: white;
    text-decoration: none;
    float: left; 
    margin: 5px;
}

section.smile {
    text-align: center;
    padding: 40px 0 100px 0;
    
}


footer nav a {
    color: white;
    text-decoration: none; 
    float: left; 
    margin: 5px;
}

section.about {
    color: white;
    font-weight: 700;
    font-size: 50px;
    max-width: 100%;
    
}

section.info {
    padding: 10px 0 10px 40px;
    background-color: white;
}

section.info h1 {
    color: black;
    font-size: 40px;
    font-weight: 700;
    float: left;
}

section.info p {
    color: black;
    font-size: 13px;
    max-width: 400px;
    padding: 10px 0px 30px 50px;
}

.info {
    padding: 20px 0px 30px 0px;
    
}

section.opdracht1 {
    max-width: 500px;
    position: relative;   
}

.frontrecord img{
    float: left;
    position: absolute;
    margin: 0 auto;
}

.backrecord img{
    float: right;
    transition: left 1s;
}

.backrecord:hover {
    left: 0;
    transform: translateX(50%) translateY(50%);
}

.frontrecord img, .backrecord img {
    object-fit: contain; 
}

.fronteverything img{
    position: absolute;
    padding: 20px 0 20px 0;
    width: 100%;
    transition: bottom 1s;
   
}

.fronteverything:hover {
    bottom: 100;
    transform: translateX(50%) translateY(50%);
}

.backeverything img {
    float: left;
    position: absolute;
    
}

.backeverything:hover {
    bottom: 1000;
    transform: translateX(-50%) translateY(-50%); 
}


section.opdracht2 {
    max-width: 500px;
    position: relative;   
}

section.opdracht3 {
    max-width: 500px;
    position: relative;   
}



@media (max-width: 1000px) {
    div.wrap {
        width: 640px;
    }
}

@media (max-width: 680px) {
    div.wrap {
        width: auto;
        margin: 0 20px 0 20px;
    }
    div.products {
        width: auto;
    }
    section.hero h2 {
        font-size: 24px;
    }
    section.hero h3 {
        font-size: 18px;
    }
}